contextName=com.smartitengineering.user.service
modules=com.smartitengineering.smartuser.guicebinder.APIModule,com.smartitengineering.smartuser.guicebinder.ImplServiceModule
ignoreMissingDependency=false
com.smartitengineering.cms.globalNamespace=com.smartitengineering
solrMasterUri=http://localhost:8080/solr/
com.smartitengineering.pos.waitTimeInSec=10
com.smartitengineering.pos.saveIntervalInSec=60
com.smartitengineering.pos.updateIntervalInSec=60
com.smartitengineering.pos.deleteIntervalInSec=60
