com.smartitengineering.event.spi.db.connection.driver_class=org.apache.derby.jdbc.EmbeddedDriver
com.smartitengineering.event.spi.db.connection.url=jdbc:derby:target/TestDB;create=true;
com.smartitengineering.event.spi.db.connection.username=
com.smartitengineering.event.spi.db.connection.password=
com.smartitengineering.event.spi.db.dialect=org.hibernate.dialect.DerbyDialect
com.smartitengineering.event.spi.db.show_sql=true
