/* 
    Document   : default
    Created on : Jul 20, 2010, 5:46:32 PM
    Author     : uzzal
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

body{

    background-color: 	#348781;
    font:normal;
    font-family:Arial, Helvetica, sans-serif;
    margin:0; padding:0; border:0; 
    text-align:left;
}

#maindivision{
    width: 100%;
    border-style: inset;
}

#header{
    width: 100%;
    height: 75px;
    border-style: inset;
}

#content{
    width: 79%;
    height: 500px;
    float: left;
    border-style: inset;
}

#login{
    width: 20%;
    height: 500px;
    float: left;
    border-style: inset;

}
#footer{

    width: 100%;
    height: 75px;
    border-style: inset;

}

#loginnametextbox, #loginpasstextbox{
    border-spacing: inherit;
    border-style: solid;
    color:#000000;
}

#loginlbl{
    text-decoration: none;
    color:#FFFFFF;

}

#loginBtn{
    background-color: 	#E3E4FA;
    border-style: solid;
}