/* 
    Document   : divs
    Created on : Jul 20, 2010, 12:51:45 PM
    Author     : uzzal
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}


/* html body tag style */
body {
    margin: 0px;
    padding: 0px;
}

/* h1 tag style */
h1 {
    margin: 0px;
    padding: 0px;
    font-family: arial;
    font-size: 140%;
    color: #fff;
}

/* CSS Style Rule for Div having id="outer-container" */
/* outer-container will hold the whole assembly of
   nested div overlays. */
/* It will also center align the design */
#outer-container {
    width: 990px;
    margin: 0 auto;
}

/* footer CSS Style Rule */
#header {
    width: 990px;
    height: 90px;
    background-color: blue;
}

/* footer CSS Style Rule */
#footer {
    width: 990px;
    background-color: red;
}

/* content-container CSS Style Rule */
/* It will hold the main content of the page. */
/* it is the right side column */
/* in this 2 columns div layout */
#content-container {
    width: 730px;
    height: 400px;
    background-color: green;
    margin: 2px 0px 2px 0px;
    float: left;
}

/* left side navigation that is the left side column of */
/* 2 columns div layout */
#left-nav {
    width: 258px;
    height: 400px;
    background-color: navy;
    margin: 2px 2px 2px 0px;
    float: left;
}

/* Top navigation CSS Style Rule */
#top-Nav {
    width: 990px;
    background-color: black;
    margin: 2px 0px 0px 0px;
}