/* 
    Document   : organization-style
    Created on : Jul 20, 2010, 10:21:41 AM
    Author     : uzzal
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root {
    display: block;
}
#maindivisionoforganization{
        padding-top: 10px;
        width:auto;

}
#header_organization{
    padding-top: 20px;
    height: 70px;
    background-color:#307D7E;
}

#form_organizationentry{
    background-color: #25A0C5;
    padding: 10px 10px 10px 10px;
    
}

#headerogorganization{
    font-family: vardana, sans-serif;
    text-decoration: none;
    font-size: x-large;
    font-weight: bolder;
    font-style: normal;
    color:#FFFFFF;

}

label{
    font-family: vardana, sans-serif;
    font-size: large;
    font-weight: 500;
    font-style: normal;
    color:black;
}

#inner-left-1,#inner-left-2,#inner-left-3,#inner-left-4,#inner-left-5,#inner-left-6,#inner-left-7{
    padding: 10px 2px 10px 10px;
    width: 40%;
    float:left;
}

#inner-right-1,#inner-right-2,#inner-right-3,#inner-right-4,#inner-right-5,#inner-right-6,#inner-right-7,#inner-right-8{

    padding: 10px 10px 10px 0px;
    width: 58%;
    float:left;
}