body{
    background:  url(../image/bodybg.jpg) repeat left top ;
   
    color:#3c3c3c;
    font-size: 11px;
    font-family: Tahoma;
    line-height: 14px;
}
.preheader{
    background: url(../image/preheader.jpg) no-repeat center;
    color:#FFF;
    width: 886px;
    height: 71px;
    margin: 0;
    padding:0;
    
}

.header{
    background: url(../image/header.jpg) repeat-y center;
    color: #FFF;
    width:886px;
    height:78px;
    margin:0;
    padding: 0;
}
.header .title {
	float: left;
	padding: 12px 0 0 84px;
	color: #FFF;
	font: bold 1.8em Arial, sans-serif;
        font-size: 28px;
}
.content{
    background: url(../image/bg.gif) repeat-y center;
    width: 886px;
    margin: o;
    padding: 0;
    
}

.tablebg{
        background: url(../image/top.jpg) no-repeat center;
	
	width: 400px;
	height: 100px;
	margin-left:20px;
	padding: 0;
    
}

#topbar {  	margin: 0px 8px 0 8px;
			padding: 0;
			background: url(../image/menu.jpg) repeat-x top;
			height: 500px;
                        width: 700px;
                        margin-left: 90px;

}
#topbar .lefts {
	background: url(../image/menul.jpg) no-repeat left;
        float: left;
	height: 35px;
	padding-left: 5px;
        margin-left: 0px;
}
#topbar .rights {
	background: url(../image/menur.jpg) no-repeat right;
	float: right;
	height: 35px;
	width: 8px;
}

#topbar li {
        color: #FFF;
        padding-left: 10px;
        padding-right: 30px;
        font-weight: bold;
	float: left;
	margin: 0;
	font-size: 11px;
	line-height: 35px;
	white-space: nowrap;
	list-style-type: none;
	width:40px;
	background: url(../image/sep.gif) no-repeat top right


	
}
#topbar li1{
 color: #FFF;
        padding-left: 10px;
        padding-right: 30px;
        font-weight: bold;
	float: left;
	margin: 0;
	font-size: 11px;
	line-height: 100px;
	white-space: nowrap;
	list-style-type: none;
	width:100px;
	
}



.footer {
	background: #000 url(../image/footer.jpg) no-repeat;
	width: 886px;
	height: 78px;
	color:#555;
	font-size:90%;
	text-align:center;
	clear:both;
}