/* 
    Document   : login
    Created on : Jul 21, 2010, 4:04:47 PM
    Author     : uzzal
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
  display: block;
}

.loginSection{
  margin-top: 20px;
  /*background-color:#99C7FF;*/
  width: 100%;
  height:210px;
  border-left: 2px solid silver;
  /*border: 1px solid;*/
}

.loginHeader{
  text-align:center;
  padding: 5px 0px 20px 0px;
}

.loginHeader label{
  font-size: 12pt;
  font-family: sans-serif;
  font-weight: bold;
  color: #9999CC;
  /*letter-spacing: 1px;*/
}

.loginEntrySection{
  padding-left: 10px;
}

.loginLabelDiv{
  padding-top: 3px;
  padding-right: 4px;
  padding-bottom:13px;
  text-align:right;
  width: 28%;
  float: left;
}

.loginLabelDiv label{
  font-family:sans-serif;
  color:#5E5A80;
  text-decoration: none;
  font-size:9pt;
  /*color:#000000;*/
}

.loginTextBoxDiv{
  width: 70%;
  float: left;
}

.loginTextBox{
  width: 140px;
  height: 20px;
  border:1px solid #C5C2C2;
  border-style:outset;
  color:#000000;
}

.btnLinkCheckDiv{
  text-align: center;
  color: #5E5A80;
  padding-top: 4px;
}

.btnlinkcheck{
  padding-bottom: 8px;
  font-size: 10pt;
}

.btnDiv{
  padding-bottom: 15px;
}

.btnDiv input{
  background: transparent url(images/more_btn.jpg) no-repeat;
  width: 90px;
  height:27px;
  font-family: sans-serif;
  font-weight: bold;
  /*border: 1px solid;*/
}

/*sign up starts here*/

#insignup{
  background-color:#99C7FF;
  width: 100%;
  height: 100%;
}


#signupBtn{
  width:125px;
  height:50px;
  font-size: 15pt;
  border: 1px outset;
  border-color:#43C6DB ;
  background-color:#6D7B8D;
}
.innersignup{
  padding: 5px 2px 15px 2px;

}

.innersignup label{
  font-size: 10pt;
}
.innersignup a{
  font-size: 10pt;
}

/*Sign up ends here*/