/*Document   : organization-style
Created on : Jul 20, 2010, 10:21:41 AM
Author     : uzzal
Description:
Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root {
  display: block;
}

#content {
  font-size: 12px;
  padding-top: 10px;
  /*display: display;*/
}

.show{
  display: block;
}
.hide{
  display: none;
}
#create{
  /*
      background-image: url(../images/gallery_bg.gif);
        background-repeat: repeat;
        background-position: top left;

        -moz-border-radius: 1em;
        -webkit-border-radius: 1em;
        border-radius: 1em;

    background-color: #F5EEFD;
    background-color: #F5EE00;*/

  text-align: left;
  /*margin: 10px 0px 0px 150px;*/
  margin: 0 auto;
  border: 2px solid;
  border-color:#24E0FB;
  width:90%;
  font-family: Arial,Helvetica,sans-serif;
}

#header_organization{

  /*    background-image: url(../images/menul.jpg),
                                                  url(../images/menur.jpg);
      background-repeat: no-repeat,
                                                  no-repeat;
      background-position: top left,
                                                  top right;*/
  /*
      -moz-border-radius: 1em;
      -webkit-border-radius: 1em;
      border-radius: 1em;
  */
  width: auto;
  text-align: center;
  padding-top: 3px;
  padding-bottom: 3px;
  height: 20px;
  background-color:#8ED6EA;
}

#header_organization label{
  font-family: vardana, sans-serif;
  text-decoration: none;
  font-size: 12pt;
  font-weight: bolder;
  font-style: normal;
  color:#333366;
}

#form_organizationentry{
  width:auto;
  background-color: #F5EEFD;
  padding: 10px 10px 10px 10px;
  font-family: Arial,Helvetica,sans-serif;
}

.inner-left{
  /*padding: 14px 0px 10px 10px;*/
  padding: 13px 10px 17px 0px;
  width:35%;
  float:left;
  text-align: left;
  /*border: 1px solid;*/
}

.inner-left label{
  font-family: vardana, sans-serif;
  font-size: 12pt;
  font-weight: 500;
  font-style: normal;
  color:#330066;
}

.inner-right{

  padding: 10px 10px 10px 0px;
  width:60%;
  float:left;
  /*border: 1px solid;*/
}

.textField{
  height: 30px;
  border: 1px outset;
  /*border-style: ridge*/
  border-color:#9A03FE;
  width: 100%  ;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 9pt;

}

.btnfield{
  margin-right: 70px;
  float:right;
  width: auto;
  text-align: center;
}

.submitbtn{
  background-color:#00CCFF;
  font-family: sans-serif;
  font-size:10pt;
  color:white;
  border: 2px inset;
  border-color:#00CCFF;
  height: 30px;
  width: 80px;
}

.submitbtn:hover{
  border-color:#CC00FF;
  border: 2px outset;
  font-weight: bold;
}

#alertfield{
  text-align: right;
  padding-right: 120px;
  width:auto;
}


.inner-right label{
  width: auto;
  text-align: center;
  font-family: sans-serif,vardana;
  font-size: 8pt;
  font-style: normal;
  letter-spacing: 1px;
  color: red;
}

/*Individual Organization Details*/

#individual_org_details_header{
  /*margin-left: 110px;*/
  margin-top: 2px;
  margin-left: 3px;
  /*margin: 0 auto;*/
  padding-top: 5px;
  width: 99%;
  height: 25px;
  background-color:#CCCFFF;
}

#individual_org_details_header label{
  padding-left: 10px;
  font-family:cursive;
  font-weight:600;
  font-size: 10pt;
  color: #23819C;
}

#individual_org_details_content{
  /*margin-left: 110px;*/
  /*margin: 0 auto;*/
  margin-left: 3px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-image: url(../images/l.gif);
  background-repeat:repeat;
  background-position: right;
  width:99%;
}

.tablehead_label{
  font-family: sans-serif;
  font-size: 7pt;
  font-weight: bold;
  color:#333366;
}

.tablecontent_label{
  font-family: sans-serif;
  font-size: 10pt;
  font-weight: 400;
  font-style: oblique;
  text-decoration: none;
  color: #333399;
}

#uniqueShortName2
{
  font-family: sans-serif;
  font-size: 10pt;
  font-weight: 400;
  font-style: oblique;
  text-decoration: none;
  color: #333399;
}

#alertbuttoncontainer{
  float: left;
  width: 20%;
  }
#alertcontainer
{
  float: left;
  width: 75%;
  padding-top: 3px;
  text-align: left;
  text-decoration: none;
  }

#alertlabel{
  font-family: sans-serif;
  font-size: 10pt;
  font-weight: 400;
  font-style: oblique;
  color: #FF3333;
}
.individual_org_label{
  float: left;
  width: 27%;
  padding: 2px 2px 5px 10px;
  text-align: left;
  /*border: 1px solid;*/
}

.individual_org_data{
  float: left;
  width: 60%;
  padding: 2px 2px 5px 0px;
  /*border: 1px solid;*/
}

.individual_org_label label{

  font-family:sans-serif;
  font-style: normal;
  font-size: 12pt;
  font-weight: 500;
  text-decoration: none;
  /*text-transform: uppercase;*/
  color: 	#0000FF;
}

.individual_org_data label{
  font-family:sans-serif;
  font-style: oblique;
  font-size: 12pt;
  font-weight: 600;
  color: #FF9966;
}

.clear{
  clear: both;
}