/* 
    Document   : organization-style
    Created on : Jul 20, 2010, 10:21:41 AM
    Author     : uzzal
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root {
    display: block;
}

.show{
    display: block;
}
.hide{
    display: none;
}
#create{

/*    background-image: url(../images/gallery_bg.gif);
    background-repeat: repeat;
    background-position: top left;*/
    background-color: #F5EEFD;
    text-align: left;
    margin: 50px 0px 0px 150px;
    /*margin: 0 auto;*/
    border: 2px solid;
    border-color:#24E0FB;
    width:60%;
    font-family: Arial,Helvetica,sans-serif;
}

#showList{
    width: auto;
    border: 1px solid;
}

#header_organization{
    
    padding-top: 3px;
    padding-bottom: 3px;
    height: 20px;
    background-color:#8ED6EA;
}

#header_organization label{
    font-family: vardana, sans-serif;
    text-decoration: none;
    font-size: 12pt;
    font-weight: bolder;
    font-style: normal;
    color:#333366;

}

#form_organizationentry{
    width:auto;
    background-color: #25A0C5;
    background-color: inherit;
    padding: 10px 10px 10px 10px;
    font-family: Arial,Helvetica,sans-serif;
}

.inner-left{
    padding: 14px 0px 10px 10px;
    width:35%;
    float:left;
    /*border: 1px solid;*/
}

.inner-left label{
    font-family: vardana, sans-serif;
    font-size: 10pt;
    font-weight: 500;
    font-style: normal;
    color:#330066;
}

.inner-right{

    padding: 10px 10px 10px 0px;
    width:60%;
    float:left;
    /*border: 1px solid;*/
}

.textField{
    height: 25px;
    border: 1px inset;
    border-color:#9A03FE;
    width:auto;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 12pt;

}

#btnfield{
    width: auto;
    text-align: center;

}

#alertfield{
    text-align: right;
    padding-right: 120px;
    width:auto;
}


.inner-right label{
    width: auto;
    text-align: center;
    font-family: sans-serif,vardana;
    font-size: 10pt;
    font-style: normal;
    letter-spacing: 1px;
    color: red;
}


/*Showing list of organizations*/

#teblecontentid
{
    text-align: center;
    float: left;
    width: 10%;
    border-bottom-style: double
}
.teblecontentname
{
    text-align: center;
    float: left;
    width: 30%;
    border-bottom-style: double
}
.teblecontentlink
{
    text-align: center;
    float: left;
    width: 15%;
    border-bottom-style: double
}
#tableheadid
{
    text-align: center;
    float: left;
    width: 10%;
    background-color: #cbd0c8;
    font-size: larger
}
.tableheadname
{
    text-align: center;
    float: left;
    width: 30%;
    background-color: #cbd0c8;
    font-size: larger
}
.tableheadlink
{
    text-align: center;
    float: left;
    width: 15%;
    background-color: #cbd0c8;
    font-size: larger
}