/* 
    Document   : organization-style
    Created on : Jul 20, 2010, 10:21:41 AM
    Author     : uzzal
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root {
    display: block;
}

.show{
    display: block;
}
.hide{
    display: none;
}
#create{

/*  background-image: url(../images/gallery_bg.gif);
    background-repeat: repeat;
    background-position: top left;*/

/*    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
*/
    /*background-color: #F5EEFD;*/
    /*background-color: #F5EE00;*/
    
    text-align: left;
    margin: 50px 0px 0px 150px;
    /*margin: 0 auto;*/
    border: 2px solid;
    border-color:#24E0FB;
    width:60%;
    font-family: Arial,Helvetica,sans-serif;
}

#header_organization{

/*    background-image: url(../images/menul.jpg),
                                                url(../images/menur.jpg);
    background-repeat: no-repeat,
                                                no-repeat;
    background-position: top left,
                                                top right;*/
/*
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
*/
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
    height: 20px;
    background-color:#8ED6EA;
}

#header_organization label{
    font-family: vardana, sans-serif;
    text-decoration: none;
    font-size: 12pt;
    font-weight: bolder;
    font-style: normal;
    color:#333366;
}

#form_organizationentry{
    width:auto;
    background-color: #F5EEFD;
    padding: 10px 10px 10px 10px;
    font-family: Arial,Helvetica,sans-serif;
}

.inner-left{
    /*padding: 14px 0px 10px 10px;*/
    padding: 10px 10px 10px 0px;
    width:35%;
    float:left;
    text-align: left;
    /*border: 1px solid;*/
}

.inner-left label{
    font-family: vardana, sans-serif;
    font-size: 10pt;
    font-weight: 500;
    font-style: normal;
    color:#330066;
}

.inner-right{

    padding: 10px 10px 10px 0px;
    width:60%;
    float:left;
    /*border: 1px solid;*/
}

.textField{
    height: 20px;
    border: 1px outset;
    /*border-style: ridge*/
    border-color:#9A03FE;
    width: 100%  ;
    font-family: sans-serif;
    font-weight: normal;
    font-size: 9pt;

}

#btnfield{
    width: auto;
    text-align: center;

}

#alertfield{
    text-align: right;
    padding-right: 120px;
    width:auto;
}


.inner-right label{
    width: auto;
    text-align: center;
    font-family: sans-serif,vardana;
    font-size: 8pt;
    font-style: normal;
    letter-spacing: 1px;
    color: red;
}


/*Showing list of organizations*/


#showList{
    width: auto;
}

#title_of_organization{
    background-color: #CCCCFF;
    height: 30px;
    text-align: center;
    /*border-bottom: 2px solid;*/
}

#title_of_organization label{
    font-family: sans-serif;
    font-size: 14pt;
    font-weight: bold;
    font-variant: normal;
    text-align: center;
    text-decoration: none;
    color: #333366;
}

#top_row{

    height: 20px;
    background-color: #cbd0c8;
    padding-top: 6px;
    padding-bottom: 6px;
}

#individual_row{
    height: 15px;
    padding: 2px 2px 2px 2px;
    border-bottom-style: double;
    border-color:#009999;
    /*border-color: #24E0FB;*/
}


.teblecontentname
{
    text-align: center;
    float: left;
    width: 30%;
}

.tableheadname
{
    text-align: center;
    float: left;
    width: 30%;
}

.tablehead_label{
    font-family: sans-serif;
    font-size: 10pt;
    font-weight: bold;
    color:#333366;
}

.tablecontent_label{
    font-family: sans-serif;
    font-size: 10pt;
    font-weight: 400;
    font-style: oblique;
    text-decoration: none;
    color: #333399;
}

/*Individual Organization Details*/

#individual_org_details_header{
  /*margin-left: 110px;*/
  margin: 0 auto;
  padding-top: 5px;
  width: 70%;
  height: 25px;
  background-color:#CCCFFF;
}

#individual_org_details_header label{
  padding-left: 10px;
  font-family:cursive;
  font-weight:600;
  font-size: 10pt;
  color: #23819C;
}

#individual_org_details_content{
  /*margin-left: 110px;*/
  margin: 0 auto;
  background-image: url(../images/l.gif);
  background-repeat:repeat;
  background-position:top ;
  width:70%;
}

.individual_org_label{
  float: left;
  width: 40%;
  padding: 2px 2px 5px 10px;
  text-align: left;
  /*border: 1px solid;*/
}

.individual_org_data{
  float: left;
  width: 55%;
  padding: 2px 2px 5px 0px;
  /*border: 1px solid;*/
}

.individual_org_label label{

  font-family:sans-serif;
  font-style: normal;
  font-size: 12pt;
  font-weight: 500;
  text-decoration: none;
  /*text-transform: uppercase;*/
  color: 	#0000FF;
}

.individual_org_data label{
  font-family:sans-serif;
  font-style: oblique;
  font-size: 12pt;
  font-weight: 600;
  color: #FF9966;
}

.clear{
  clear: both;
}

/*MENU*/

#topmenu{
  /*border: 1px solid;*/
  text-align: right;
  height: 25px;
  background-repeat:repeat-x;
  background-position: top right;
}
