/* 
    Document   : organizationlist
    Created on : Jul 22, 2010, 12:35:27 PM
    Author     : saumitra
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/



body{
    font-family: vardana, sans-serif;

}
.show{
    display: block;
}
.hide{
    display: none;
}
#header{
    font-family: vardana, sans-serif;
    text-decoration: none;
    font-size: x-large;
    font-weight: bolder;
    font-style: normal;
    text-align: center;
    color:#354ad6;

}
#teblecontentid
{
    text-align: center;
    float: left;
    width: 10%;
    background-color:papayawhip;
    border-bottom-style: double
}
.teblecontentname
{
    text-align: center;
    float: left;
    width: 30%;
    background-color:papayawhip;
    border-bottom-style: double
}
.teblecontentlink
{
    text-align: center;
    float: left;
    width: 15%;
    background-color:papayawhip;
    border-bottom-style: double
}
#tableheadid
{
    text-align: center;
    float: left;
    width: 10%;
    background-color: #cbd0c8;
    font-size: larger
}
.tableheadname
{
    text-align: center;
    float: left;
    width: 30%;
    background-color: #cbd0c8;
    font-size: larger
}
.tableheadlink
{
    text-align: center;
    float: left;
    width: 15%;
    background-color: #cbd0c8;
    font-size: larger
}
body{
    background-color: #ffffff;
    font-family: vardana, sans-serif;

}
#maindivision{
        padding-top: 10px;
        width:100%;


}
#header_organization{
    height: 70px;
    background-color:	#307D7E;
}

#form_organizationentry{
    background-color: #25A0C5;
    padding: 10px 10px 10px 10px;

}

#header{
    font-family: vardana, sans-serif;
    text-decoration: none;
    font-size: x-large;
    font-weight: bolder;
    font-style: normal;
    color:#FFFFFF;

}

label{
    font-family: vardana, sans-serif;
    font-size: large;
    font-weight: 500;
    font-style: normal;
    color:black;
}

#inner-left-1,#inner-left-2,#inner-left-3,#inner-left-4,#inner-left-5,#inner-left-6,#inner-left-7{
    padding: 10px 2px 10px 10px;
    width: 40%;
    float:left;
}

#inner-right-1,#inner-right-2,#inner-right-3,#inner-right-4,#inner-right-5,#inner-right-6,#inner-right-7,#inner-right-8{

    padding: 10px 10px 10px 0px;
    width: 58%;
    float:left;
}