/* 
    Document   : smart-menu
    Created on : Aug 20, 2010, 9:50:43 PM
    Author     : uzzal
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

/*MENU*/

.leftmenu{
  /*background-image: url(/images/top.jpg);*/
  /*background-repeat:repeat;*/
  /*background-position: top left;*/
  margin: 10px 5px 5px 5px;
  text-align: right;
  height:auto;
}

.leftmenu_header{
  padding:4px 0px 0px 4px;
  text-align: center;
  color: #23819C;
  font-weight: bold;
  background-image: url(/images/top.jpg);
  height: 25px;
  border: 1px solid;
  border-color: #FFFFFF;
}

.leftmenu_header label{
  font-family: sans-serif, tahoma, verdana;
  font-size: 11pt;
}

.leftmenu_body{
  background-color:#736F6E;
  background-image: url(/images/top.jpg);
  background-repeat: repeat;
  background-position:bottom left;
  border: 1px solid;
  border-color: #FFFFFF;

}

.leftmenu ul{
  padding:0px 6px 15px 40px;
  text-align: left;
}


.leftmenu ul li{
  list-style:  url(../images/arrow.gif) inside;
  color:#E8C6FF;

  border-bottom: #F3F8F4 1px solid;
  line-height:20px;
  width:150px;

}
.leftmenu ul li a{
  font-family: sans-serif, tahoma, verdana;
  font-weight: 600;
  font-weight: bold;
  color:#23819C;
  font-size: 10pt;
  text-decoration: none;

}