/* 
    Document   : style
    Created on : Aug 4, 2010, 11:56:53 AM
    Author     : uzzal
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
  display: block;
}
body{
  /*background: url(../images/main_bg1.gif) repeat;*/
  /*background: url(../images/image212.gif) repeat;*/
  background-color: #EEEEEE;
  width:auto;
  text-align: center;
}

.main_template{
  text-align: left;
  padding: 5px;
  margin: 0 auto;
  width:950px;
}

.main_template_header{
  /*background: url(../images/hdr.jpg) repeat;*/
  background-color: #FFFFFF;
  width: 100%;
  height: 75px;
}

.sitel_logo_container{
  padding-left:0px;

}

.sitel_slogan_container{
  padding-left: 0px;
}

.sitel_slogan_container label{
  font-family: verdana, tahoma;
  font-size: 12pt;
  font-weight:  bolder;
  font-style: oblique;
  letter-spacing: 1px;
  color: #99BB99;
}

#img-sitel-logo{
  width: 200px;
  height: 50px;
}

.main_template_options{
  background: url(../images/bgg.png) repeat;
  width: auto;
  height: 80px;
}

.main_template_options form{
  padding: 3px 2px 2px 10px;
}

.template_content{
  background: url(../images/bg_shadow_bot.gif) repeat;
  height:550px;
  float: right;
  width: 73.6%;
}

.left_menu{
  background: url(../images) repeat;
  height:550px;;
  float: left;
  width: 26%;
  border: 1px solid;
  border-color: #24E0FB;
  background-color:#B4CFEC;
}

.main_template_footer{
  background: url(../images/bgg.png) repeat;
  width: auto;
  height: 80px;
}

.footer_label_container{
  padding-top: 28px;
  text-align: center;
  height:auto;
 /*  width: 475px;
  margin: 0 auto;*/

}

.footer_label_container label{
  font-family:monospace;
  font-variant: normal;
  font-style: oblique;
  font-weight: bold;
  color:teal;
  letter-spacing: 1px;
}

.clear{
  clear: both;
}