/* 
    Document   : style
    Created on : Aug 4, 2010, 11:56:53 AM
    Author     : uzzal
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}
body{
    /*background: url(../images/main_bg1.gif) repeat;*/
    /*background: url(../images/bodybg.jpg) repeat;*/
    background-color: #EEEEEE;
    width:auto;
    text-align: center;
}

#main{
    text-align: left;
    padding: 5px;
    margin: 0 auto;
    position:relative; clear:both;
    width:950px;
}

#header{
    /*background: url(../images/hdr.jpg) repeat;*/
    width: auto;
    height: 75px;
}


#header label{
   font-family: verdana, tahoma;
   font-size: 40pt;
   font-style: normal;
   font-weight:  bolder;
   letter-spacing: 1px;
   color: #99BB99;
}

#options{
    background: url(../images/bgg.png) repeat;
    width: auto;
    height: 50px;
}

#options form{
    padding: 3px 2px 2px 10px;
}

#searchbox{
    padding-left: 2px;
    height: 25px;
    border: 1px inset;
    border-color:#9A03FE;
    width:inherit;

    font-family: sans-serif;
    font-weight: 500;
    font-size: 12pt;
}

#btnSearch{
    height: 27px;
}

#content{
    background: url(../images/bg_shadow_bot.gif) repeat;
    height: 672px;
    float: right;
    width: 75%;
}


#right{
    background: url(../images/)  no-repeat;
    height:672px;
    float: left;
    width: 24.8%;
    border: 1px solid;
    border-color: #24E0FB;
}

#footer{
    background: url(../images/bgg.png) repeat;
    width: auto;
    height: 75px;
}