/* 
    Document   : user-style
    Created on : Aug 16, 2010, 10:50:58 AM
    Author     : uzzal
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
  display: block;
}

.show{
  display: block;
}
.hide{
  display: none;
}
#create{
  text-align: left;
  /*margin: 50px 0px 0px 150px;*/
  margin: 5px 1px 1px 5px;
  border: 2px solid;
  border-color:#24E0FB;
  width:98%;
  font-family: Arial,Helvetica,sans-serif;
}

#userslist{
  margin: 2px 1px 1px 1px;
  width: 99%;
  border: 1px outset;
  border-color:#FDFEFF;
}

#header_organization_users{
  text-align: center;
  padding-top: 3px;
  padding-bottom: 3px;
  height: 20px;
  background-color:#8ED6EA;
}

#header_organization_users label{
  font-family: vardana, sans-serif;
  text-decoration: none;
  font-size: 12pt;
  font-weight: bolder;
  font-style: normal;
  /*color:#333366;*/
}

#header_user_label{
  text-transform:capitalize;
  color: aqua;
}

#form_organizationentry{
  width:auto;
  background-color: #F5EEFD;
  padding: 10px 10px 10px 10px;
  font-family: Arial,Helvetica,sans-serif;
}

.inner-left-label{
  /*padding: 14px 0px 10px 10px;*/
  padding: 10px 10px 10px 0px;
  width:35%;
  float:left;
  text-align: left;
  /*border: 1px solid;*/
}

.inner-left-label label{
  font-family: vardana, sans-serif;
  font-size: 10pt;
  font-weight: 500;
  font-style: normal;
  color:#330066;
}

.inner-right-text{

  padding: 10px 10px 10px 0px;
  width:60%;
  float:left;
  /*border: 1px solid;*/
}

/*List of users*/

#showList{
  width: auto;
}

#title_of_organization_users{
  background-color: #CCCCFF;
  height: 30px;
  text-align: center;
  /*border-bottom: 2px solid;*/
}

#title_of_organization_users label{
  font-family: sans-serif;
  font-size: 14pt;
  font-weight: bold;
  font-variant: normal;
  text-align: center;
  text-decoration: none;
  color: #333366;
}

#top_row{

  height: 20px;
  background-color: #cbd0c8;
  padding-top: 6px;
  padding-bottom: 6px;
}

#individual_row{
  height: 15px;
  padding: 2px 2px 2px 2px;
  border-bottom-style: double;
  border-color:#009999;
  /*border-color: #24E0FB;*/
}


.tablecontentname_user
{
  text-align: center;
  float: left;
  width: 50%;
}

.tableheadname_user
{
  text-align: center;
  float: left;
  width: 50%;
}

.tablehead_label{
  font-family: sans-serif;
  font-size: 10pt;
  font-weight: bold;
  color:#333366;
}

.tablecontent_label{
  font-family: sans-serif;
  font-size: 10pt;
  font-weight: 400;
  font-style: oblique;
  text-decoration: none;
  color: #333399;
}


#individual_user_details_header{
  /*margin-left: 110px;*/
  margin-top: 10px;
  margin-left: 3px;
  padding-top: 5px;
  width: 99%;
  height: 25px;
  background-color:#CCCFFF;
}

#individual_user_details_header label{
  padding-left: 10px;
  font-family:cursive;
  font-weight:600;
  font-size: 12pt;
  text-transform: capitalize;
  color: #23819C;
}

#individual_user_details_content{
  /*margin-left: 110px;*/
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
  background-image: url(../images/l.gif);
  background-repeat:repeat;
  background-position: right;
  width:99%;
}

.individual_user_label{
  float: left;
  width: 40%;
  padding: 2px 2px 5px 10px;
  text-align: left;
  /*border: 1px solid;*/
}

.individual_user_data{
  float: left;
  width: 55%;
  padding: 2px 2px 5px 0px;
  /*border: 1px solid;*/
}

.individual_user_label label{

  font-family:sans-serif;
  font-style: normal;
  font-size: 12pt;
  font-weight: 500;
  text-decoration: none;
  /*text-transform: uppercase;*/
  color: 	#0000FF;
}

.individual_user_data label{
  font-family:sans-serif;
  font-style: oblique;
  font-size: 12pt;
  font-weight: 600;
  color: #FF9966;
}

.clear{
  clear: both;
}