/* 
    Document   : user-style
    Created on : Aug 16, 2010, 10:50:58 AM
    Author     : uzzal
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
  display: block;
}

.show{
  display: block;
}
.hide{
  display: none;
}
#create{
  text-align: left;
  /*margin: 50px 0px 0px 150px;*/
  margin: 5px 1px 1px 5px;
  border: 2px solid;
  border-color:#24E0FB;
  width:98%;
  font-family: Arial,Helvetica,sans-serif;
}

#header_organization_users{
  text-align: center;
  padding-top: 3px;
  padding-bottom: 3px;
  height: 20px;
  background-color:#8ED6EA;
}

#header_organization_users label{
  font-family: vardana, sans-serif;
  text-decoration: none;
  font-size: 12pt;
  font-weight: bolder;
  font-style: normal;
  /*color:#333366;*/
}

#header_user_label{
  text-transform:capitalize;
  color: aqua;
}

#form_organizationentry{
  width:auto;
  background-color: #F5EEFD;
  padding: 10px 10px 10px 10px;
  font-family: Arial,Helvetica,sans-serif;
}

label.error
{ width: 250px;
  display: block;
  float: left;
  color: red;
  padding-left: 10px;
}

/*Individual user details*/

#individual_user_details_header{
  margin-top: 10px;
  margin-left: 3px;
  padding-top: 5px;
  width: 99%;
  height: 25px;
  background-color:#CCCFFF;
}

#individual_user_details_header label{
  padding-left: 10px;
  font-family:cursive;
  font-weight:600;
  font-size: 12pt;
  text-transform: capitalize;
  color: #23819C;
}

#individual_user_details_content{
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
  background-image: url(../images/l.gif);
  background-repeat:repeat;
  background-position: right;
  width:99%;
}

.individual_user_label{
  float: left;
  width: 40%;
  padding: 2px 2px 5px 10px;
  text-align: left;
  /*border: 1px solid;*/
}

.individual_user_data{
  float: left;
  width: 55%;
  padding: 2px 2px 5px 0px;
  /*border: 1px solid;*/
}

.individual_user_label label{
  font-family:sans-serif;
  font-style: normal;
  font-size: 12pt;
  font-weight: 500;
  text-decoration: none;
  /*text-transform: uppercase;*/
  color: 	#0000FF;
}

.individual_user_data label{
  font-family:sans-serif;
  font-style: oblique;
  font-size: 12pt;
  font-weight: 600;
  color: #FF9966;
}

.clear{
  clear: both;
}