testCreateBook=true
testUpdateBook=true
testDeleteBook=true
testGetAllBook=true
testReadBookListByPublicationHouse=true
testReadBookListByAuthor=true
testReadBookListByPublisher=true
testCreatePublicationHouse=true
testGetAllPublicationHouse=true
testGetPublicationHouseByUniqueShortname=true
testUpdatePublicationHouse=true
testDeletePublicationHouse=true
testGetAll=true
testDeleteAll=true
server=glassfish
uri=http://localhost/
port=9998
warname=smartuser
